.env
venv
reviews_classifier.egg-info
.idea
venv_linux
venv_linux2
.ipynb_checkpoints
reviews_classifier/service/.ipynb_checkpoints
Untitled1.ipynb
requirements_new.txt
metacritic-review-classifier-548c14c1eea3.json
