{% extends "guest_pages.html" %}
{% block title %}Classify page{% endblock %}

{% block content %}
    <form>
        <div class="form-row col-sm-4 offset-sm-4 align-items-center">
            <div class="text-center">
                <label class="sr-only" for="inlineFormInput">Review text</label>
                <textarea type="text"
                          class="form-control mb-2"
                          id="inlineFormInput"
                          placeholder="Type review here"></textarea>
            </div>

            <div class="text-center my-1 mr-sm-2">
                <label class="custom-control-label" for="customControlInline">Detected language: <b>English</b></label>
            </div>

            <button type="submit" class="btn btn-info my-1">Predicted score: None</button>
            <button type="submit" class="btn btn-primary my-1">Submit</button>
        </div>
    </form>
{% endblock %}
