{% extends "template.html" %}
{% block title %}Classify page{% endblock %}

{% block content %}
    <form id="review_form">
        <div class="form-row align-items-center text-center">
            <div class="text-center">
                <label class="sr-only" for="inlineFormInput">Review text</label>
                <textarea type="text"
                          class="form-control"
                          id="review_text"
                          placeholder="Type review here"
                          name="review_text"></textarea>
            </div>

            <div class="text-center my-1 mr-sm-2">
                <label class="custom-control-label" for="customControlInline" id="detected_language" hidden>Detected language: <b>English</b></label>
            </div>

            <button type="submit" class="btn btn-primary my-1" id="loading" disabled hidden>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
            <button type="submit" class="btn btn-primary my-1" id="score" disabled hidden>
                Predicted score: ERROR
            </button>
            <button type="submit" id="send_text" class="btn btn-success my-1">Predict</button>
        </div>
    </form>
{% endblock %}

{% block classifier_script %}
    <script src="{{ url_for('classifier.static', filename='classifier.js') }}"></script>
{% endblock %}